@use "./variables" as *;


.app {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 14px;
}

.title {
  margin: 0;
  font-size: 22px;
}

.subtitle {
  margin: 6px 0 0;
  opacity: 0.7;
}


.card {
  border: 1px solid $border-color;
  border-radius: $radius-lg;
  overflow: hidden;
}

.card.layout {
  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 16px;
  align-items: start;
  padding: 12px;
}

@media (max-width: 900px) {
  .card.layout {
    grid-template-columns: 1fr;
  }
}

.layout__main {
  min-width: 0;
}

.controls {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: $radius-lg;

  .btn {
    margin-left: 7px;
  }
}

.control {
  label {
    display: block;
    font-size: $font-sm;
    opacity: 0.7;
    margin-bottom: 6px;
  }
  
  @media (max-width: 768pxpx) {
    input: width 100%;
  }

  input {
    width: 50%;
    padding: 10px;
    border-radius: $radius-sm;
    border: 1px solid $border-color;
    box-sizing: border-box;
  }
}

.control-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;

  .control {
    label {
      display: block;
      font-size: $font-sm;
      opacity: 0.7;
      margin-bottom: 6px;
    }

    select {
      width: 100%;
      padding: 10px;
      border-radius: $radius-sm;
      border: 1px solid $border-color;
    }

    button {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: white;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  .control-container {
    grid-template-columns: 1fr;
  }

  .control input {
    width: 100%;
  }
}


.pagination {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    font-size: 14px;
    opacity: 0.75;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__page {
    font-size: 14px;
  }

  button {
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.error {
  margin-bottom: 10px;
  color: crimson;
}

input, select, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.2);
  font-size: 14px;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.2);
  background: white;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.coldstart {
  padding: 10px 12px;
  margin: 12px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 10px;
  background: rgba(0,0,0,0.03);
  font-size: 14px;
}


